.background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--black-blank);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup {
    background-color: var(--white);
    border-radius: 1rem;
    width: 500px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.popup h2{
    color: var(--red-p);
    margin-bottom: 50px;
}

.buttons{
    width: 100%;
    display: flex;
    margin: 20px;
    justify-content: space-around;
}

.cancel , .confirm{
    border: none;
    padding: 10px 20px;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 22px;
    font-weight: 700;
    transition: 0.1s;
}

.cancel{
    background-color: var(--gray-s);
    color: var(--red-p);
}
.confirm{
    background-color: var(--red-p);
    color: var(--white)
}

.cancel:hover, .confirm:hover{
    scale: 0.95;
}