.container{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: var(--black-blank);
    display: flex;
    justify-content: center;
    align-items: center;
}

.form{
    width: 800px;
    height: 600px;
    background: var(--gray-t);
}