.container{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: var(--black-blank);
    display: flex;
    justify-content: center;
    align-items: center;
}

.form{
    width: 800px;
    height: 600px;
    background: var(--gray-s);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.form h1{
    width: 100%;
    background: var(--purple-p);
    text-align: center;
    padding: 10px 0;
}

.types{
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.buttons{
    display: flex;
    width: 100%;
    margin-top: 150px;
    justify-content: space-around;
}

.cancel,
.add{
    width: 300px;
    font-size: 28px;
    font-weight: 700;
    color: var(--white);
    padding: 20px;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    transition: 0.1s;
}

.cancel{
    background: var(--red-p);
}

.add{
    background: var(--blue-p);
}

.cancel:hover,.add:hover{
    scale: 0.95;
}

.cancel:hover{
    background: var(--red-t);
}

.add:hover{
    background: var(--blue-t);
}

#desable{
    cursor: help;
    scale: 0.95;
    background: var(--gray-p);
}