.container{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: var(--black-blank);
    display: flex;
    justify-content: center;
    align-items: center;
}

.form{
    width: 800px;
    height: 600px;
    background: var(--gray-s);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.form h1{
    width: 100%;
    background: var(--purple-p);
    text-align: center;
    padding: 10px 0;
}

.types{
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    width: 100%;
}