.option,
.optionSelected{
    width: 200px;
    height: 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 0;
    background: var(--gray-t);
    border-radius: 2rem;
}

.option{
    box-shadow: 0 0 10px var(--black);
    cursor: pointer;
    transition: 0.2s;
}

.optionSelected, .option:hover{
    box-shadow: 8px 8px 0 var(--black);
}

.option,
.optionSelected h2{
    color: var(--black);
}

