.card{
    width: 180px;
    height: 180px;
    margin: 10px;
    padding: 15px;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--gray-s);
    box-shadow: 0 0 10px var(--black);
}

.remover{
    width: 120px;
    padding: 8px;
    color: var(--white);
    font-size: 20px;
    font-weight: 700;
    background: var(--red-p);
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    transition: 0.1s;
}

.remover:hover{
    background: var(--red-s);
    scale: 0.95;
}