:root {
  --black: #050011;
  --gray-p: #3b3541;
  --gray-s: #958d9b;
  --gray-t: #c9b8df;
  --white: #e8e6f1;
  --red-p: #ec0d20;
  --red-s: #fa0419;
  --red-t: #ac0412;
  --green-p: #12e21d;
  --green-s: #1cf009;
  --green-t: #0aaf12;
  --blue-p: #1632d1;
  --blue-s: #0632f7;
  --blue-t: #081a80;
  --yellow-p: #dbdb12;
  --yellow-s: #e6ff01;
  --yellow-t: #c9c909;
  --purple-p: #1f034d;
  --purple-s: #340580;

  --black-blank: #00000080;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body{
  font-family: var(--font-poppins), sans-serif !important;
  background: var(--gray-p);
  color: var(--white);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}