.locomotive{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 30px;
}

.let{
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.letButton{
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 28px;
    font-weight: 700;
    color: var(--white);
    background: var(--blue-p);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.1s;
}

.letButton:hover{
    background: var(--blue-s);
    scale: 0.95;
}

#disabled{
    background: var(--gray-s);
    cursor: not-allowed;
    scale: 0.95;
}

.totals{
    display: flex;
    flex-direction: column;
    font-size: 28px;
    font-weight: 700;
}

.totals p{
    display: flex;
    margin: 30px ;
    padding: 15px;
    border: solid 5px var(--white);
    border-radius: 1rem;
}

.label{
    margin: 0 20px;
}

.wagonsArea {
    background: var(--black);
    margin-top: 50px;
    padding: 10px;
    border-top: solid 8px var(--gray-t);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.wagons{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 20px;
}

.head{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

.clean, .add{
    color: var(--white);
    border: none;
    margin: 0 5px;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 10px;
    cursor: pointer;
    transition: 0.1s;
}

.clean{
    background: var(--red-p);
}

.add{
    background: var(--blue-p);
}

.clean:hover{
    background: var(--red-s);
    scale: 0.95;
}

.add:hover{
    background: var(--blue-s);
    scale: 0.95;
}